@charset "utf-8";
///////////////////////////////////////////////////////////////////////////
//  Variables SCSS
///////////////////////////////////////////////////////////////////////////
/////////////////////////////////////
//	変数
/////////////////////////////////////
// *----- 幅 -----*
$w-sp: 750;
$w-pc: 1920;
$w-max: 1440;

// *----- フォント -----*
// ファミリー
$ff-noto: 'Noto Sans JP', sans-serif;
$ff-josefin: 'Josefin Sans', sans-serif;

// サイズ
$fs-base-sp: calc(#{100vw} / #{7.5});
$fs-base-pc: calc(#{100vw} / #{19.2});

// *----- 配色 -----*
$c-black: #333;
$c-white: #FFF;
$c-blue: #005797;
$c-gray: #999;